.catalog-main__header {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  width: 280px;
  margin: 0 auto;
  padding-bottom: 38px;
  padding-top: 47px;
}

.catalog {
  width: 320px;
  margin: 0 auto;
}

.catalog__wrapper {
  padding-top: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.catalog__list {
  border-top: 1px solid #d9d9d9;
  padding-bottom: 8px;
}

.catalog__pic {
  margin-left: 20px;
}

.catalog__item-name {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  margin-bottom: 16px;
}

.catalog__button {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  width: 280px;
  margin: 0 auto 16px auto;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  background-color: #68b738;
  color: #ffffff;
  border: none;
  padding: 12px 0 10px 0;
  display: block;
}

.catalog__details {
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.catalog__table {
  display: flex;
  justify-content: space-between;
}

.table-elem__row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 12px;
}

.catalog__table tbody {
  width: 100%;
}

.table-elem__value {
  text-align: right;
}

@media (min-width: $tablet-width) {
  .catalog {
    width: 708px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 156px;
    // margin-right: 30px;
    // margin-left: 30px;
  }

  .catalog-main__container {
    width: 768px;
    margin: 0 auto;
  }

  .catalog-main__header {
    width: auto;
    margin-right: 30px;
    margin-left: 30px;
    font-size: 60px;
    padding-bottom: 0;
    padding-top: 32px;
  }

  .catalog__list {
    border-top: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #f2f2f2;
    margin-bottom: 140px;
  }

  .catalog__wrapper {
    display: flex;
    flex-direction: column;
    // padding-right: 37px;
    // padding-left: 37px;
  }

  .catalog__button {
    width: 250px;
  }

  .catalog__item-name {
    text-align: center;
    font-size: 20px;
  }

  .catalog__details {
    margin-right: 37px;
    margin-left: 37px;
    display: flex;
    flex-direction: column;
  }

  .table-elem__row {
    border-bottom: 1px solid #cdcdcd;
  }

  .catalog__table {
    & td {
      padding-bottom: 5px;
    }
  }

  .catalog__pic {
    margin-left: 0;
    margin-top: -50px;
  }
}

@media (min-width: $desktop-width) {
  .catalog {
    margin: 0;
    width: 1220px;
    padding-top: 156px;
  }

  .catalog-main__container {
    width: 1220px;
    margin: 0 auto;
  }

  .catalog-main__header {
    margin-left: 0;
    margin-right: 0;
  }

  .catalog__list {
    width: 245px;
    box-sizing: border-box;
  }

  .catalog__wrapper {
    box-sizing: border-box;
  }

  .catalog__button {
    width: 169px;
  }

  .catalog__pic {
    margin-top: -40px;
  }

  .catalog__details {
    margin-right: 37px;
    margin-left: 37px;
  }
}
