.comment {
  // margin-bottom: 31px;
}

.comment__header {
  font-size: 24px;
  text-transform: none;
  margin-top: 13px;
  margin-bottom: 33px;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    width: 180px;
    height: 3px;
    top: 15px;
    right: -41px;
    background-color: #68b738;
  }
}

.comment textarea {
  text-transform: uppercase;
  resize: vertical;
  min-height: 148px;
  width: 100%;

  &::placeholder {
    padding-top: 10px;
    padding-left: 11px;
  }
}

@media (min-width: $tablet-width) {
  .comment {
    // width: 708px;
    margin-top: 47px;

    @include tablet-margin;
  }

  .comment__header {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 76px;

    &::after {
      width: 500px;
      top: 22px;
      right: -88px;
    }

    &::before {
      content: "";
      position: absolute;
      width: 50px;
      height: 3px;
      top: 22px;
      left: -91px;
      background-color: #68b738;
    }
  }

  .comment textarea {
    text-transform: uppercase;
    resize: vertical;
    min-height: 148px;
    width: 100%;

    &::placeholder {
      font-size: 20px;
      padding-top: 10px;
      padding-left: 8px;
    }
  }
}

@media (min-width: $desktop-width) {
  .comment {
    width: 1220px;
    margin-left: 0;
  }

  .comment__header {
    &::after {
      width: 1200px;
      right: -199px;
    }
  }
}
