.contacts {
  & iframe {
    width: 100%;
    margin: 0 auto;
    border: 0;
  }
}

.contacts__bg {
  background-color: #f2f2f2;
}

.contacts__map {
  background: url("/img/bg-map-mobile@1x.png") no-repeat;
  background-position: center;
  background-size: 400px auto;
  min-height: 400px;
}

.contacts__details {
  width: 280px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 14px;
  line-height: 20px;
}

.contacts__wrap {
  &:first-child {
    margin-right: 20px;
  }
}

.contacts__invite {
  font-size: 16px;
  font-family: "Oswald", "Arial", sans-serif;
  text-transform: uppercase;
}

.contacts__address {
  font-size: 14px;
  font-family: "Arial", sans-serif;
}

.contacts__address br {
  display: none;
}

@media (min-width: $tablet-width) {
  .contacts {
    margin-bottom: -5px;
  }

  .contacts__details {
    width: 625px;
    margin: 0 auto;
    padding: 42px 45px 45px 45px;
  }

  .contacts__wrap {
    &:first-child {
      margin-right: 210px;
    }
  }

  .contacts__invite {
    font-size: 20px;
    line-height: 25px;
    padding-right: 27px;
  }

  .contacts__address {
    font-size: 16px;
    text-align: right;

    & br {
      display: block;
    }
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    margin-bottom: -5px;
    position: relative;
  }

  .contacts__container {
    width: 1220px;
    margin: 0 auto;
  }

  .contacts__details {
    width: 570px;
    display: flex;
    justify-content: space-around;
    margin-right: 20px;
    padding: 69px 76px 62px 76px;
    background-color: #ffffff;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
  }

  .contacts__map {
    position: relative;
  }
}
