.example {
  background-color: #f2f2f2;
}

.example__wrapper {
  width: 320px;
  margin: 0 auto;
}

.example__header {
  text-transform: uppercase;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  padding-left: 20px;
  padding-right: 20px;
}

.example__text {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  padding-left: 20px;
  padding-right: 20px;
}

.example__weight {
  padding-left: 20px;
  padding-right: 20px;
}

.weight {
  display: flex;
  justify-content: space-between;
}

.weight__wrapper {
  width: 50%;
  position: relative;
}

.weight__value {
  text-transform: uppercase;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  font-weight: bold;
  border: 1px solid #cdcdcd;
  text-align: center;
  padding: 12px 14px;
  &:first-child {
    margin-right: 10px;
  }
}

.weight__text {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  position: absolute;
  top: 64px;
  left: 30px;
  padding: 0 10px;
  background-color: #f2f2f2;
}

.weight__cost {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  width: 320px;
  margin: 22px auto;
  text-align: center;
  font-weight: bold;
}

.example__pic {
  display: block;
  margin: auto;
}

.example__scale {
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  justify-content: space-between;
}
