.example {
  background-color: #f2f2f2;
  width: 320px;
  margin: 0 auto;
}

.example__wrapper {
  // width: 320px;
  // margin: 0 auto;
}

.example__header {
  // text-transform: uppercase;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  padding-left: 20px;
  padding-right: 20px;
}

.example__text {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  padding-left: 20px;
  padding-right: 20px;
}

.example__weight {
  padding-left: 20px;
  padding-right: 20px;
}

.weight {
  display: flex;
  justify-content: space-between;
}

.weight__wrapper {
  width: 50%;
  position: relative;
}

.weight__value {
  text-transform: uppercase;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  font-weight: bold;
  border: 1px solid #cdcdcd;
  text-align: center;
  padding: 12px 14px;

  &:first-child {
    margin-right: 10px;
  }
}

.weight__text {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  position: absolute;
  top: 64px;
  left: 30px;
  padding: 0 12px;
  margin-right: 30px;
  text-align: center;
  background-color: #f2f2f2;
}

.weight__cost {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  width: 320px;
  margin: 22px auto;
  text-align: center;
  font-weight: bold;
}

.example__pic {
  display: block;
  margin: auto;
}

.example__scale {
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  justify-content: space-between;
}

@media (min-width: $tablet-width) {
  .example {
    width: 768px;
    margin: 0 auto;
    background-color: #ffffff;
  }

  .example__wrapper {
    margin-right: 30px;
    margin-left: 30px;
    background: linear-gradient(#ffffff 50%, #f2f2f2 50%);
    // background: url("/img/before-tablet@1x.png") no-repeat;
    // background-position: center;
  }

  .example__header {
    margin-top: 50px;
    font-size: 60px;
  }

  .example__text {
    font-size: 16px;
  }

  .example__container {
    display: flex;
    justify-content: space-between;
  }

  .weight__wrapper {
    margin-right: 30px;
  }

  .weight__cost {
    text-transform: uppercase;
    font-family: "Oswald", "Arial", sans-serif;
    text-align: right;
    font-size: 20px;
    font-weight: 400;
    margin-right: 0;
    margin-left: 0;
    width: 26%;
  }

  .weight__text {
    font-size: 14px;
    background-color: #ffffff;
    padding: 0 12px;
    margin-right: -7px;
    margin-left: -16px;
  }

  .example__weight {
    display: flex;
    justify-content: space-between;
    width: 60%;
  }

  .example__scale {
    background-color: #f2f2f2;
    padding-top: 50px;
  }
}

@media (min-width: $desktop-width) {
  .example {
    width: 1220px;
    margin: 0 auto;
    background-color: #ffffff;
  }

  .example__container {
    display: flex;
    justify-content: space-between;
    width: 50%;
    flex-direction: column;
  }

  .weight__cost {
    min-width: 307px;
    text-align: left;
    padding-left: 20px;
  }
}
