.intro {
  width: 320px;
  margin: 0 auto;
}

.intro__wrapper {
  text-align: center;
  font-family: "Oswald", "Arial", sans-serif;
}

.intro__header {
  color: #ffffff;
  font-size: 36px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  padding: 29px 20px 19px 20px;
}

.intro__container {
  background: url("/img/index-background-mobile@1x.jpg") no-repeat;
  background-color: #63a73a;
  background-size: 320px auto;
  background-position: center;
  margin-top: -17px;
}

.intro__text {
  color: #ffffff;
  font-size: 14px;
  text-transform: uppercase;
  padding-bottom: 166px;
  margin-top: -27px;
}

.intro__button {
  color: #ffffff;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #63a73a;
  padding: 12px 45px 12px 44px;
  border: none;
  font-family: "Oswald", "Arial", sans-serif;
  display: block;
  margin-right: 20px;
  margin-left: 20px;
}

.intro__img {
  margin-top: -153px;
}

@media (min-width: $tablet-width) {
  .intro {
    width: 768px;
    margin: 0 auto;
  }

  .intro__wrapper {
    margin-bottom: 528px;
  }

  .intro__header {
    color: #111111;
    font-size: 60px;
    text-align: left;
    padding: 0 200px 0 120px;
    background-color: #ffffff;
    margin-bottom: 66px;
    margin-top: 43px;
  }

  .intro__text {
    color: #201f1f;
    font-size: 20px;
    text-transform: uppercase;
    padding-left: 120px;
    padding-bottom: 0;
  }

  .intro__container {
    background: none;
    background-color: #ffffff;
    text-align: left;
  }

  .intro__button {
    width: 245px;
    display: block;
    font-size: 20px;
    margin-left: 120px;
    margin-top: -62px;
    padding: 14px 0;
  }
}

@media (min-width: $desktop-width) {
  .intro {
    width: 1220px;
    margin: 0 auto;
    // position: relative;
  }

  .intro__header {
    color: #111111;
    font-size: 60px;
    text-align: left;
    padding-right: 685px;
    padding-left: 81px;
    padding-bottom: 0;
    background-color: #ffffff;
  }

  .intro__text {
    padding-left: 81px;
  }

  .intro__button {
    margin-top: -130px;
    margin-bottom: 278px;
    margin-left: 81px;
    padding: 17px 0 15px 0;
  }

  .intro__img {
    position: absolute;
    z-index: 2;
    top: 220px;
    left: 635px;
  }
}
