.intro {
  width: 320px;
  margin: 0 auto;
}

.intro__wrapper {
  // padding: 0 20px 0 20px;
  text-align: center;
  font-family: "Oswald", "Arial", sans-serif;
}

.intro__header {
  // width: 320px;
  // margin: 0 auto;
  color: #ffffff;
  font-size: 36px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  padding: 29px 20px 19px 20px;
}

.intro__container {
  background: url("/img/index-background-mobile@1x.jpg") no-repeat;
  background-color: #63a73a;
  background-size: 320px auto;
  background-position: center;
}

.intro__text {
  color: #ffffff;
  font-size: 14px;
  text-transform: uppercase;
  padding-bottom: 150px;
}

.intro__button {
  color: #ffffff;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #63a73a;
  padding: 15px 45px 15px 50px;
  width: 280px;
  border: none;
  font-family: "Oswald", "Arial", sans-serif;
  // display: block;
  margin: 0 auto;
}

.intro__img {
  margin-top: -147px;
}

@media (min-width: $tablet-width) {
  .intro {
    width: 768px;
    margin: 0 auto;
  }

  .intro__header {
    color: #111111;
    font-size: 60px;
    text-align: left;
    padding-right: 200px;
    padding-left: 120px;
    padding-bottom: 0;
    background-color: #ffffff;
    margin-bottom: 33px;
  }

  .intro__text {
    color: #201f1f;
    font-size: 20px;
    text-transform: uppercase;
    padding-left: 120px;
  }

  .intro__container {
    background: none;
    background-color: #ffffff;
    text-align: left;
  }

  .intro__button {
    width: 245px;
    margin-left: 120px;
    display: block;
  }
}

@media (min-width: $desktop-width) {
  .intro {
    width: 1220px;
    margin: 0 auto;
  }

  .intro__header {
    color: #111111;
    font-size: 60px;
    text-align: left;
    padding-right: 200px;
    padding-left: 110px;
    padding-bottom: 0;
    background-color: #ffffff;
  }
}
