.main-nav__list {
  list-style-type: none;
  text-transform: uppercase;
  text-align: center;
  font-size: 20px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 500;
  line-height: 1;
  letter-spacing: normal;
  padding-left: 0;
}

.page-header__wrapper {
  position: relative;
  margin-bottom: -9px;
}

.main-nav {
  padding: 0;
  list-style: none;

  &__toggle {
    position: absolute;
    border: none;
    background-color: #ffffff;
    top: 10px;
    right: 14px;
    width: 36px;
    height: 19px;
  }

  img {
    display: block;
    width: 25px;
    height: 19px;
  }

  &--opened {
    display: block;
  }
}

.main-nav--closed .main-nav__wrapper {
  display: none;
}

.main-nav--opened .main-nav__toggle {
  &::before {
    content: "";
    background: url("/img/icon-close.svg") no-repeat;
    background-position: center;
    background-size: 19px 19px;
    position: absolute;
    width: 19px;
    height: 19px;
    top: 0;
    left: 9px;
  }

  img {
    display: none;
  }
}

.main-nav--nojs .main-nav__toggle {
  display: none;
}

.main-nav--nojs .main-nav__wrapper {
  position: static;
  min-height: 0;
}

.main-nav--nojs .site-list__item {
  display: block;
}

.site-list__item {
  padding-top: 24px;
  padding-bottom: 21px;
  border-bottom: 1px solid #e6e6e6;

  &:first-child {
    border-top: 1px solid #e6e6e6;
  }

  &:last-child {
    margin-bottom: -29px;
  }

  a {
    text-decoration: none;
    color: #111111;
    font-weight: bold;
  }
}

@media (min-width: $tablet-width) {
  .main-nav {
    padding-right: 30px;
    font-size: 18px;
    font-family: "Oswald", "Arial", sans-serif;
    font-weight: 400;
  }

  .main-nav__list {
    display: flex;
    z-index: 1;
  }

  .site-list__item {
    border-bottom: none;
    margin-left: 15px;
    line-height: 25px;
    font-weight: normal;

    &:first-child {
      border-top: none;
    }

    &--active {
      border-top: none;
      border-bottom: 2px solid #68b738;
    }
  }

  .main-nav--closed .main-nav__wrapper {
    display: flex;
  }

  .main-nav--closed .main-nav__toggle {
    img {
      display: none;
    }
  }

  .main-nav--opened .main-nav__toggle {
    &::before {
      display: none;
    }
  }
}

@media (min-width: $desktop-width) {
  .site-list__item--desktop-main {
    & a {
      color: #ffffff;
      font-weight: 400;
    }
  }

  .site-list__item--border {
    border-bottom: 2px solid #ffffff;
  }
}
