.page-footer {
  // width: 320px;
  // margin: 0 auto;
  background-color: #f2f2f2;
}

.page-footer__container {
  width: 320px;
  margin: 0 auto;
}

.page-footer__logo {
  display: block;
  margin: auto;
  padding: 24px 0 24px 0;
}

.page-footer__social {
  width: 320px;
  margin: 0 auto;
}

.page-footer__academy {
  text-decoration: none;
  color: #444444;
  font-size: 16px;
  font-family: "Arial", sans-serif;

  &:active {
    opacity: 0.3;
  }
}

.social-list {
  list-style-type: none;
  display: flex;
  justify-content: center;
  padding: 25px 0 25px 0;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;

  &__item {
    &:nth-child(-n + 2) {
      margin-right: 40px;
    }
  }
}

.social-list__icon {
  fill: #666666;

  &:hover {
    fill: #68b738;
  }

  &:active {
    fill: #68b738;
    opacity: 0.3;
  }
}

.page-footer__wrapper {
  width: 320px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 24px 0 24px 0;
}

.page-footer__academy-icon {
  fill: red;
}

@media (min-width: $tablet-width) {
  .page-footer__container {
    width: 708px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }

  .page-footer__logo {
    margin-left: 0;
  }

  .social-list,
  .page-footer__wrapper {
    width: 30%;
    margin-right: 0;
  }

  .social-list {
    align-items: center;
  }

  .social-list__icon {
    &--vk {
      width: 30px;
      height: 16px;
    }

    &--inst {
      width: 23px;
      height: 23px;
    }

    &--fb {
      width: 14px;
      height: 28px;
    }
  }
}

@media (min-width: $desktop-width) {
  .page-footer__container {
    width: 1220px;
    margin: 0 auto;
  }
}
