input[type="radio"] {
  display: none;
}

.reason__list {
  list-style: none;
  padding-left: 0;
  padding-top: 19px;
  margin-top: 0;
  border-bottom: 1px solid #ededed;
}

.reason__item {
  margin-bottom: 19px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: -6px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid #e6e6e6;
  }

  & label {
    padding-left: 46px;
  }

  &:nth-child(2) {
    margin-bottom: 18px;
  }
}

.reason__item:hover::before {
  border: 1px solid #bababa;
}

.reason__radio:checked + label::before {
  content: "";
  position: absolute;
  left: 10px;
  top: 4px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #68b738;
}

@media (min-width: $tablet-width) {
  .reason {
    border: 1px solid #e6e6e6;
    margin-top: 43px;
    padding-top: 14px;
    padding-bottom: 16px;

    @include tablet-margin;
  }

  .reason__list {
    margin-left: 28px;
    border-bottom: none;

    @include font-size-20;
  }

  .reason__item {
    margin-bottom: 32px;

    &::before {
      width: 37px;
      height: 37px;
      top: -10px;
    }

    &:nth-child(2) {
      margin-bottom: 32px;
    }

    &:last-child {
      margin-bottom: 0;
    }

    & label {
      padding-left: 57px;
    }
  }

  .reason__radio:checked + label::before {
    content: "";
    left: 11px;
    top: 1px;
    width: 16px;
    height: 16px;
  }
}

@media (min-width: $desktop-width) {
  .reason {
    width: 50%;
    margin-bottom: 20px;
    margin-right: 0;
    margin-top: 3px;
  }

  .reason__list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
