.show-more {
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #d9d9d9;
}

.show-more__header {
  font-size: 16px;
  text-transform: uppercase;
  font-family: "Oswald", "Arial", sans-serif;
  margin-bottom: 8px;

  & br {
    display: none;
  }
}

.show-more__wrapper {
  width: 320px;
  margin: 22px auto 23px auto;
  text-align: center;
}

.show-more__text {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  margin-bottom: 25px;
  margin-top: 0;

  & br {
    display: none;
  }
}

.show-more__button {
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;
  color: #444444;
  font-family: "Oswald", "Arial", sans-serif;
  background-color: #f2f2f2;
  padding-top: 9px;
  padding-bottom: 12px;
  display: block;
  margin: 0 20px 0 20px;
}

@media (min-width: $tablet-width) {
  .show-more {
    border: 1px solid #e6e6e6;
    margin-bottom: 140px;
  }

  .show-more__wrapper {
    margin-bottom: 0;
    margin-top: 55px;
  }

  .show-more__button {
    margin-top: 104px;
    margin-bottom: 25px;
  }

  .show-more__header {
    margin-top: 50px;
    font-size: 20px;

    & br {
      display: block;
    }
  }

  .show-more__text {
    font-size: 16px;
    margin-bottom: 20px;

    & br {
      display: block;
    }
  }
}

@media (min-width: $desktop-width) {
  .show-more {
    width: 245px;
  }

  .show-more__wrapper {
    width: auto;
  }

  .show-more__button {
    margin-top: 92px;
  }
}
