.stock {
  width: 320px;
  margin: 0 auto;
  background: url("/img/gift-photo-mobile@1x.jpg") no-repeat;
  background-size: 280px 400px;
  background-position: center;
}

.stock__text {
  text-align: center;
  padding-left: 20px;
}

.stock__text p {
  margin-right: 0;
}

@media (min-width: $desktop-width) {
  .stock {
    width: 30%;
    margin-top: 123px;
    padding-right: 0;
  }

  .stock__text {
    font-size: 16px;
    color: #ffffff;
    font-family: "Arial", sans-serif;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 135px;
    padding-bottom: 36px;
    margin-top: 40px;

    & p {
      padding: 0;
    }
  }
}
