.stock {
  width: 320px;
  min-height: 289px;
  margin: 0 auto;
  background: url("/img/gift-photo-mobile@1x.jpg") no-repeat;
  background-position: center;
  position: relative;

  &::before {
    position: absolute;
    content: "";
    background: url("/img/icon-gift.svg") no-repeat;
    width: 56px;
    height: 61px;
    left: 50%;
    transform: translateX(-50%);
    top: 65px;
  }
}

.stock__text {
  font-family: "Arial", sans-serif;
  font-size: 16px;
  text-align: center;
  padding: 189px 78px 0 90px;
  color: #ffffff;
  margin-top: 24px;
}

.stock__text p {
  margin-right: 0;
}

@media (min-width: $desktop-width) {
  .stock {
    width: 30%;
    margin-top: 123px;
    padding-right: 0;
    position: relative;
  }

  .stock__text {
    font-size: 16px;
    color: #ffffff;
    font-family: "Arial", sans-serif;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 135px;
    padding-bottom: 36px;
    margin-top: 40px;

    & p {
      padding: 0;
    }
  }
}
