.stock {
  width: 320px;
  margin: 0 auto;
  background: url("/img/gift-photo-mobile@1x.jpg") no-repeat;
  background-size: 280px 400px;
  background-position: center;
}

.stock__text {
  text-align: center;
  padding-left: 20px;
}

.stock__text p {
  margin-right: 0;
}
