@mixin font-style {
  font-family: "Oswald", "Arial", sans-serif;
}

@mixin margin-22 {
  margin-left: 22px;
  margin-right: 22px;
}

@mixin margin-30 {
  margin-left: 30px;
  margin-right: 30px;
}

@mixin tablet-margin {
  margin-left: 41px;
  margin-right: 37px;
}

@mixin margin-lr-none {
  margin-left: 0;
  margin-right: 0;
}

@mixin font-size-20 {
  font-size: 20px;
  line-height: 20px;
}

@mixin remove-lastrow-margin($column-count) {
  @include apply-to-last-row($column-count) {
    margin-bottom: 0;
  }
}

// @mixin colorup-lastrow($column-count) {
//   @include apply-to-last-row($column-count) {
//     border: 3px solid red;
//   }
// }

@mixin apply-to-last-row($column-count) {
  & > div:nth-child(#{$column-count}n + 1):nth-last-child(-n + #{$column-count}),
  & > div:nth-child(#{$column-count}n + 1):nth-last-child(-n + #{$column-count}) ~ div {
    @content;
  }
}
