@mixin font-style {
  font-family: "Oswald", "Arial", sans-serif;
}

@mixin margin-22 {
  margin-left: 22px;
  margin-right: 22px;
}

@mixin margin-30 {
  margin-left: 30px;
  margin-right: 30px;
}

@mixin tablet-margin {
  margin-left: 41px;
  margin-right: 37px;
}

@mixin margin-lr-none {
  margin-left: 0;
  margin-right: 0;
}
